<a class="card carousel_item"
[ngClass]="{'active': active}"
(click)="makeActive( movie.id )">
    <div class="img-border">
        <!-- <img alt="{{ movie.title}}" src="https://subliminalvisions.github.io/movie-browser/assets/img/scifi/{{movie.image}}" alt="" class="preview"> -->

        <!-- <img src="/assets/img/scifi/{{movie.image}}" alt="" class="preview"> -->
        <!-- <img src="/assets/img/scifi/{{movie.image}}" alt="" class="preview"> -->
        <img class="preview imgThumbnail" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{movie.poster_path}}">
        
        <!-- {{ movie | json }} -->
    </div>
    <div class="info">
        <h3 class="title">{{ movie.original_title}} </h3>
        <p class="description">{{ movie.overview }}</p>
    </div>
</a>
<!-- { "adult": false, "backdrop_path": "/9yBVqNruk6Ykrwc32qrK2TIE5xw.jpg", "genre_ids": [ 14, 28, 12, 878, 53 ], "id": 460465, "original_language": "en", "original_title": "Mortal Kombat", "overview": "Washed-up MMA fighter Cole Young, unaware of his heritage, and hunted by Emperor Shang Tsung's best warrior, Sub-Zero, seeks out and trains with Earth's greatest champions as he prepares to stand against the enemies of Outworld in a high stakes battle for the universe.", "popularity": 10185.721, "poster_path": "/6Wdl9N6dL0Hi0T1qJLWSz6gMLbd.jpg", "release_date": "2021-04-07", "title": "Mortal Kombat", "video": false, "vote_average": 8, "vote_count": 1571 } -->

