<a class="card carousel_item"
[ngClass]="{'active': active}"
(click)="makeActive( movie.id )">
    <div class="img-border">
        <!-- <img alt="{{ movie.title}}" src="https://subliminalvisions.github.io/movie-browser/assets/img/scifi/{{movie.image}}" alt="" class="preview"> -->
        <img src="/assets/img/scifi/{{movie.image}}" alt="" class="preview">
    </div>
    <div class="info">
        <h3 class="title">{{ movie.title}} </h3>
        <p class="description">{{ movie.description }}</p>
    </div>
</a>
