:host {
  width: calc(100% * (1/4));
}
.card {
  display: block;
  margin-right: 0.5em;
  margin-left: 0.5em;
  padding: 1em;
}
.card h2 {
  margin-top: 0;
}
.card img.preview {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.card .info {
  display: none;
}
.card.active {
  border: 1px solid #0088F8;
  padding: 0.5em 0.5em 0;
}
.card.active .info {
  display: block;
}
