.main {
  width: 100%;
  text-align: center;
}
ul {
  display: block;
  margin: 0 auto;
}
ul li {
  list-style: none;
  display: inline-block;
}
ul li a {
  padding: 0.5em 1em;
  color: #fff;
  text-decoration: none;
}
ul li a:focus,
ul li a.active,
ul li a:hover {
  color: #0088F8;
}
