<div class="container">
    <div class="row title">
      <h1 class="genre-title">Sci Fi</h1>
    </div>
    <div class="row carousel-content">
        <div class="section-button">
            <a #focusEl class="viewToggle" (click)="ToggleAll()">
                <span class="icon">
                    <span class="box"></span>
                    <span class="box"></span>
                    <span class="box"></span>
                    <span class="box"></span>
                </span>
                <span class="genreTitle text-center">VIEW ALL</span>
            </a>
        </div>
        <div #movieWrap class="movWrap"
        [ngClass]="{'slimView':slimView===true}"
        [ngStyle]="{ 'flex-wrap': slimView===false ? 'wrap' : 'nowrap' }"
        >
        <!-- ,'display': placement> 4 ? 'none' : 'block' } -->
            <app-movie-preview *ngFor="let mov of movies"
            [ngClass]="{ 'isHidden': ((mov.id)<activMin) }"
            [movie]="mov"
            ></app-movie-preview>
            <!-- [ngStyle]="{ 'display': ((mov.id>activMin) ) ? 'block' : 'none' }" -->
            
            <!-- activMin

            if(this.activSlide>4) {
                console.log('tst', ((this.movie.id+4)<(this.activSlide)) );
                this.isHidden = ((this.movie.id+4)<(this.activSlide));
              } -->

            <!-- [currentSlide]="activSlide"
            (highlighted)="onPushNewNum($event)" -->

        </div>

        <!-- <div class="movieList"></div> -->

    </div>
  </div>