<div class="container">
    <div class="row title">
      <h1 class="genre-title">Sci Fi</h1>
    </div>
    <div class="row carousel-content">
        <div class="section-button">
            <a #focusEl class="viewToggle" (click)="ToggleAll()">
                <div class="iconpad">
                    <span class="icon">
                        <span class="box"></span>
                        <span class="box"></span>
                        <span class="box"></span>
                        <span class="box"></span>
                    </span>
                </div>
                <span class="viewAllTxt text-center">VIEW ALL</span>
            </a>
        </div>
        <div #movieWrap class="movWrap"
        [ngClass]="{'slimView':slimView===true}"
        [ngStyle]="{ 'flex-wrap': slimView===false ? 'wrap' : 'nowrap' }">
            <app-movie-preview *ngFor="let mov of movies"
            class="mov-item"
            [ngClass]="{ 'isHidden': ((mov.id)<activMin),
                      'isActive': ((mov.id)==activSlide) }"
            [movie]="mov"
            ></app-movie-preview>
        </div>
    </div>
  </div>
  