.icon {
  background-color: #0088F8;
  padding: 1em;
  display: flex;
  height: 2em;
  width: 2em;
  flex-wrap: wrap;
  border-radius: 2em;
  margin: 0 auto 0.5em;
}
.icon .box {
  background-color: #fff;
  padding: 0.125em;
  margin: 0.125em;
  width: 50%;
  margin: 0.25em;
  flex: 1 0 0px;
}
.row.carousel-content {
  display: flex;
  min-height: 256px;
  padding: 0.25em;
}
.slimView app-movie-preview.isHidden {
  display: none;
}
.viewAllTxt {
  display: block;
  width: 100%;
  margin-bottom: 2em;
}
.movWrap {
  display: flex;
  overflow-y: hidden;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 1em;
}
.movWrap > * {
  flex: 0 0 24.5%;
}
@media screen and (max-width: 600px) {
  .movWrap {
    display: block;
  }
}
.text-center {
  text-align: center;
}
.iconpad {
  padding: 0.5em;
  text-align: center;
  margin: 0 auto;
}
.viewToggle {
  background-color: #004075;
  padding: 1em;
  max-width: 80px;
  text-align: center;
  display: block;
}
.viewToggle:hover {
  background-color: #666;
}
.viewToggle:hover .icon {
  background-color: #111;
}
@media screen and (max-width: 600px) {
  .section-button {
    display: none;
  }
}
