.icon {
    background-color: #0088F8;
    padding: 1em;
    display: flex;
    height: 2em;
    width: 2em;
    flex-wrap: wrap;
    border-radius: 2em;
    margin: 0 auto .5em;

    .box {
        background-color: #fff;
        padding: .125em;
        margin: .125em;
        width: 50%;
        margin: .25em;
        flex: 1 0 0px;
    }
}
.row.carousel-content {
    display: flex;
    min-height: 256px;
    padding: .25em;
}
.slimView app-movie-preview.isHidden {
    display: none;
}
.viewAllTxt {
    display: block;
    width: 100%;
    margin-bottom: 2em;
}
.movWrap {
    display: flex;
    overflow-y:hidden;

    >* {
        flex: 0 0 24.5%;

        
    }
    @media screen and (max-width:600px) {
        display: block;
        // flex-wrap: wrap;
        // flex-direction: column;
        // overflow-y:hidden;

        // >* {
        //     flex: 0 0 100%;        
        // }
    }
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 1em;
}
.text-center {
    text-align: center;
}
.iconpad {
    padding: .5em;
    text-align: center;
    margin: 0 auto;
}
.viewToggle {
    background-color: #004075;
    padding: 1em;
    max-width: 80px;
    text-align: center;
    display: block;

    &:hover {
        background-color: #666;
        .icon { 
            background-color: #111;
        }
    }
}
@media screen and (max-width:600px) {
    .section-button {
        display: none;
    }
}

